<!-- implement a value for the <title> element that 
    describes the content of the view -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- to display messages in a view -->
<% messages() %>

<!-- product details display -->
 <%- card %>